<!doctype html>
<html>
  <head>
    <meta charset="utf8">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/markdown.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/pygments.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/curriculum.css">
    <title> {{ page.title }} </title>
  </head>
  <body>
    <a href="{{ page.source }}">
      <img class="github"
           src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"
           alt="Fork me on GitHub">
    </a>

    <header>
      <h1> {{ page.title }} </h1>
      <p><em> {{ page.tagline }}</em></p>
    </header>

    <article>
      {{ content }}
    </article>

    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_HTMLorMML">
    </script>
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML"></script>
    <!-- MathJax configuration -->
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
            processEscapes: true,
            processEnvironments: true
        },
        // Center justify equations in code and markdown cells. Elsewhere
        // we use CSS to left justify single line equations in code cells.
        displayAlign: 'center',
        "HTML-CSS": {
            styles: {'.MathJax_Display': {"margin": 0}},
            linebreaks: { automatic: true }
        }
    });
    </script>
  </body>
</html>
